<div id="loginPanel" style="width:50%">
	<h2><span class="glyphicon glyphicon-lock"></span> Login </h2>
	<form class="form-horizontal" ng-submit="signin()" role="form" name="form">
		<div class="form-group">
			<label for="email" class="control-label"> Email </label>
			<input type="email" class="form-control" ng-model="email" id="email" placeholder="Your Email">
		</div>
		<div class="form-group">
			<label for="mdp" class="control-label"> Password </label>
			<input type="password" class="form-control" ng-model="mdp" id="mdp" placeholder="Your Password please">
		</div>
		<div class="form-group">
			<select ng-model="hierachie" >
				 <option value="Etudiant">Etudiant</option> 
	   			 <option value="Secretaire">Secretaire</option> 
	   			 <option value="Prof">Professeur</option> 
			</select>
		</div>
		<div class="form-group">
			<div >
				<button class="btn btn-default" type="submit" ng-click="login()">Sign In</button>
			</div>
			
		</div>
		<a href="#/inscription">Sign Up if u dont have an account</a>
	</form>
</div>