<nav>
	<ul>
	  <li><a class="active" href="#home">Home</a></li>
	  <li><a href="#news">News</a></li>
	  <li class="dropdown"><a href="#" class="dropbtn">Dropdown</a></li>
	</ul>
</nav>

	<div>
      <label>Search:</label>
      <input type="search" ng-model="search" placeholder="Enter to Search">
    </div>
<div id="profilePanel" style="width:50%">
	<h2><span class=""></span> Liste des Etudiants </h2>
	<table style="width:200%">
	  <tr>
	  		<th>N°</th>
	    	<th>Email</th>
	    	<th>Nom</th>
	  	 	<th>Prenom</th>
	   		<th>Hierachie</th>
	   		<th>Valider</th>
	  </tr>
	  <tr ng-repeat="etudiant in listeEtudiant | filter:search" ng-show="etudiant.hierachie =='Etudiant'">
	  		<td>{{ $index + 1 }}</td>
	    	<td>{{etudiant.email}}</td>
	    	<td>{{etudiant.nom}}</td>
	    	<td>{{etudiant.prenom}}</td>
	    	<td>{{etudiant.hierachie}}</td>
	    	<td><button type="button" class="btn btn-info">Valider</button></td>
	  </tr>
	</table>
</div>